/* TAGS */
body {
	background: black;
}

/* CLASSES */
.squares {
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	background: green;
	border: round;
	border-radius: 25px;
}

.container {
	width: 600px;
	padding-top: 5%;
}

.btn-warning {
	margin-right: 100px;
}

/* ID */
#title {
	text-align: center;
	background: black;
	padding-bottom: 0px;
	color: white;
}

#rgbDisplay {
	font-size: 100px;
}

#bar {
	background: transparent;
	height: 38px;
	color: white;
	text-align: center;
}

#message {
	margin-right: 100px;
	/*position: fixed;*/
}