/* CLASSES*/
.squares {
	width: 30%;
	background: red;
	padding-bottom: 30%;
	border: 1px solid black;
	float: left;
	margin: 1.66%;
}

.container {
	margin: auto;
	max-width: 600px%;
}

/* ID */
#title {
	text-align: center;
	background: grey;
}

#rgbDisplay {
	font-size: 100px;
}