/* TAGS */
body {
	background: black;
}

/* CLASSES */
.squares {
	width: 30%;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	background: green;
	border: round;
	border-radius: 25px;
}

.container {
	width: 600px;
	padding-top: 5%;
}

/* ID */
#title {
	text-align: center;
	background: grey;
}

#rgbDisplay {
	font-size: 100px;
}